.big-card-container{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 1em;
}
.card-content-container{
    width: 100%;
}
.big-card-box{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    height: 12rem;
}
.img-prc-container{
    width: 50%;
}
.desc-inc-container{
    width: 50%;
}
