.minusBtn,
.plusBtn {
    border: none;
}
.bigCardContainer{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 1em;
}

.cardContentContainer{
    width: 100%;
}
.descBigContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bigCardBox{
    padding: 10px;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    height: 10rem;
}
.imgPrcContainer{
    width: 50%;
}
.descIncContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.descIncContainer li{
    list-style: none;
}
.dispImgItem{
    height: 7rem;
    width: 7rem;
    border-radius: 0.5rem;
}
.menuItemVarBox{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.menuItemVarBox button{
    font-weight: 500;
    font-size: 1.4rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
.currencyType{
    color: #006af4;
    font-weight: 500;
    font-size: .9rem;
}
.itemPrice{
    font-weight: 600;
    font-size: 1.3rem;
}
@media (max-width: 1700px) {
    .bigCardContainer{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1400px) {
    .bigCardContainer{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1000px) {
    .bigCardContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 680px) {
    .bigCardContainer{
        grid-template-columns: repeat(1, 1fr);
    }
}
