.orderDetailsBigContainer,
.orderAmtBigContainer,
.orderVarBox {
    display: flex;
}
.orderAmtBigContainer,
.orderDescBox li,
.orderDetBox{
    width: 100%;
}
.orderdescHeaderBox p{
    font-weight: 500;
}
.orderDetailsBigContainer{
    margin-top: 5%;
    border-bottom: 2px solid rgb(235, 235, 235);
    padding-bottom: 10px;
}
.orderDetBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.orderAmtBigContainer{
    justify-content: space-between;
}
.orderVarBox{
    width: 50%;
    align-items: center;
    justify-content: space-around;
}
.orderMealImage{
    height: 5rem;
    width: 5rem;
    border-radius: .5rem;
}
.orderDetailsContainer {
    margin-top: 10%;
    border-top: 1px solid rgb(235, 235, 235);
    width: 90%;
}
.orderDescBox li{
    margin-left: 3%;
    list-style: none;
    font-weight: 500;
}
.orderVarBox button{
    font-weight: 500;
    font-size: 1.4rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
.incButton,
.decButton{
    border: none;
}
.decButton{
    background-color: rgb(233, 233, 233);
}
.decButton:hover,
.incButton:hover{
    cursor: pointer;
    transform: scale(1.02);
}
.decButton:hover{
    background-color: rgb(226, 226, 226);
}
.incButton{
    background-color: #006af4;
    color: #fff;
}
.incButton:hover{
    background-color: #015ace;
}
.checkoutItemPrice{
    font-weight: 600;
}