.navBarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.navbar {
    height: 3.5vh;
    width: 94%;
    font-size: .9rem;
    border-radius: 3rem;
    background-color: #ebebeb;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    padding: 3px;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: #757575;
    transition: background-color 0.3s ease;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    flex-grow: 1; 
}

.navbar a:not(.active):hover {
    background-color: #eaeaea;
    color: #000000;
}

.navbar .active {
    background-color: white;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
