.profile-big-container p{
    margin: 0;
}
.profile-pic-box{
    height: 40px;
    width: 40px;
    border: 1px solid rgb(49, 159, 10);
    border-radius: 50%;
}
.usr-profile-pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}